<div class="container">
  <div class="row">
    <!-- About me -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img
          src="../../assets/professionalPhoto.jpeg"
          alt="profilePicture"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p>
          Experienced professional with a strong track record of effectively
          addressing challenges within collaborative team environments.
          Proficient at quickly adapting to evolving circumstances and
          consistently demonstrating creativity when solving problems. Committed
          to embracing change and continuously seeking innovative solutions.
        </p>
      </div>
    </div>
    <!-- Featured projects -->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Featured Project</h2>
        <h4>{{ featuredProject.name }}</h4>
      </div>
    </div>
  </div>
</div>
